.list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  padding: 10px;
  border-radius: 8px;
  background-color: blue;
  color: white;
}
.one {
  background-color: aquamarine;
}

.two {
  background-color: blueviolet;
}
.three {
  background-color: antiquewhite;
}
.four {
  background-color: brown;
}
.five {
  background-color: beige;
}
